<!--<section>-->
  <!--<mat-grid-list cols="2" rowHeight="100px">-->
    <!--<mat-grid-tile-->
      <!--*ngFor="let tile of tiles"-->
      <!--[colspan]="tile.cols"-->
      <!--[rowspan]="tile.rows"-->
      <!--[style.background]="tile.color">-->
      <!--{{tile.text}}-->
    <!--</mat-grid-tile>-->
  <!--</mat-grid-list>-->
<!--</section>-->

<audit-dashboard ></audit-dashboard>

<!--<section class="container-box" fxLayout="column" fxLayoutAlign="center center">-->
  <!--<mat-card fxFlex.xs="100%"  class="card-style">-->
    <!--<mat-card-title fxLayoutAlign="center">-->
      <!--Overview-->
    <!--</mat-card-title>-->
    <!--<mat-card-content fxLayoutAlign="center">-->
    <!--Summary will be shown here!-->
    <!--</mat-card-content>-->
    <!--<mat-card-actions fxLayoutAlign="center">-->
      <!--<button mat-raised-button="" routerLink="/audit/balance">GoTo</button>-->
    <!--</mat-card-actions>-->
  <!--</mat-card>-->

  <!--<section class="container-row" fxLayout  fxLayout.lt-md="column"  fxLayoutAlign="center">-->
    <!--<mat-card fxFlex.gt-sm="50%" fxFlex.lt-sm="100%" class="card-style-2" >-->
      <!--<mat-card-title fxLayoutAlign="center">-->
        <!--Incoming-->
      <!--</mat-card-title>-->
      <!--<mat-card-content fxLayoutAlign="center">-->
        <!--The Incoming details will be entered here!-->
      <!--</mat-card-content>-->
      <!--<mat-card-actions fxLayoutAlign="center">-->
        <!--<button mat-raised-button="" routerLink="/audit/credit">GoTo</button>-->
      <!--</mat-card-actions>-->
    <!--</mat-card>-->
    <!--<mat-card fxFlex.gt-sm="50%" fxFlex.lt-sm="100%" class="card-style-3" >-->
      <!--<mat-card-title fxLayoutAlign="center">-->
        <!--Outgoing-->
      <!--</mat-card-title>-->
      <!--<mat-card-content fxLayoutAlign="center">-->
        <!--The Outgoing details will be entered here!-->
      <!--</mat-card-content>-->
      <!--<mat-card-actions fxLayoutAlign="center">-->
        <!--<button mat-raised-button="" routerLink="/audit/debt">GoTo</button>-->
      <!--</mat-card-actions>-->
    <!--</mat-card>-->
  <!--</section>-->

<!--</section>-->

<!--<section class="overview-details" fxLayout="column" fxLayoutAlign="center center">-->
  <!--<div >-->
    <!--<mat-card class="overall" routerLink="/audit/balance">-->
      <!--<mat-card-title>-->
        <!--Overview-->
      <!--</mat-card-title>-->
      <!--<mat-card-content>-->
        <!--Summary will be shown here!-->
      <!--</mat-card-content>-->
    <!--</mat-card>-->
  <!--</div>-->

  <!--&lt;!&ndash;<section class="audit-details" fxLayout="row" fxLayoutAlign="center">&ndash;&gt;-->
    <!--<div class="incoming">-->
      <!--<mat-card routerLink="/audit/credit">-->
        <!--<mat-card-title>-->
          <!--Incoming-->
        <!--</mat-card-title>-->
        <!--<mat-card-content>-->
          <!--The Incoming details will be entered here!-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->
    <!--</div>-->
    <!--<div class="outgoing">-->
      <!--<mat-card routerLink="/audit/debt">-->
        <!--<mat-card-title>-->
          <!--Outgoing-->
        <!--</mat-card-title>-->
        <!--<mat-card-content>-->
          <!--The Outgoing details will be entered here!-->
        <!--</mat-card-content>-->
      <!--</mat-card>-->
    <!--</div>-->
  <!--&lt;!&ndash;</section>&ndash;&gt;-->
<!--</section>-->


