<section class="container-box" fxLayout fxLayoutAlign="center">
  <div class="balance-1" fxHide.lt-sm>
    <!--<span fxLayoutAlign="center">balance</span>-->
  </div>
  <div class="balance-2" fxLayoutAlign="center">
    <mat-card fxFlex.lt-sm="100%">
      <mat-card-title fxLayoutAlign="center">
        Outgoing Component
      </mat-card-title>
      <mat-card-content>
        <mat-card >
          <mat-card-content>
            <span  class="d-inline-block" >Card in Card</span>
            <button mat-icon-button  class="d-inline-block">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-card-content>

        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="balance-3" fxHide.lt-sm>
    <!--<span fxLayoutAlign="center">balance</span>-->
  </div>
</section>
